<div id="fourchanx-settings" class="dialog">
  <a href="javascript:;" class="close fa fa-times" title="Close"></a>
  <div class="settings-titlebar">
    <span class="settings-title"><%= meta.name %> Settings</span>
  </div>
  <div class="settings-body">
    <nav>
      <div class="settings-search">
        <input type="search" placeholder="Search settings" autocomplete="off">
      </div>
      <div class="sections-list"></div>
    </nav>
    <div class="section-container"></div>
  </div>
  <div class="settings-footer">
    <div class="settings-actions">
      <a class="export">Export</a>&nbsp|&nbsp
      <a class="import">Import</a>&nbsp|&nbsp
      <a class="reset">Reset Settings</a>
      <input type="file" hidden>
    </div>
    <p class="imp-exp-result warning"></p>
    <div class="credits">
      <a href="https://www.4chan-eX.com/" target="_blank"><%= meta.name %></a>&nbsp|&nbsp
      <a href="https://github.com/cercos/4chan-eX/releases/tag/v${g.VERSION}" target="_blank">${g.VERSION}</a>&nbsp|&nbsp
      <a href="<%= meta.issues %>" target="_blank">Issues</a>
    </div>
  </div>
</div>
